/*This is the style sheet used for the home page*/

body{

}

#background1{
    background-image: url('https://github.com/legitdudex/legitdudex.github.io/tree/master/site_assets/cover_photo.jpg');
    height: 20%;
    width: 100%;


}
