/*This is the style sheet used for the home page*/
html{
    width: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #0e0e0e;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'Oswald',sans-serif;
}
#intro_container{
    margin-top: 5%;
    width: 100vw;
    height: 10vh;

}
#home_button{
    display: flex;
    justify-content: flex-start;
}
#doug_cho{
    content: "Doug Cho";
    color: #eeebe8;
    font-weight: 300;
    font-size: 1.775vw;
    text-transform: uppercase;
    font-family: sans-serif;
}
#button_container{
    display: flex;
    justify-content: flex-end;
}
#button_container button{
    color: #eeebe8;
    background-color: #0e0e0e;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.875vw;
}
#about_me{
    content: "About Me";
}
#work_experience{
    content: "My Experience";
}
#personal_projects{
    content: "Projects";
}
